<!--
<div class ="container-fluid">
  <h1>
    White Board!
  </h1>
  <app-course-grid></app-course-grid>
</div>
-->




<div class="container-fluid">

  <div *ngIf="isAdmin">
    <h1>Admin Page</h1>
  </div>

  <div *ngIf="!isAdmin">
    <h1>
      White Board
    </h1>
  </div>

  <div *ngIf="!isAdmin">
    <div *ngIf="isLoggedIn">
      <br/>
      <button class="btn btn-primary btn-block" routerLink="/quizzes">Quizzes</button>
    </div>
  </div>
  <div *ngIf="isAdmin">
    <div *ngIf="isLoggedIn">
      <br/>
      <button class="btn btn-primary btn-block" routerLink="/quizzes">Quizzes</button>
    </div>
  </div>


  <br/>


  <div *ngIf="isLoggedIn">
    <button class="btn btn-danger float-right" (click)="logout()" routerLink="/logout">Logout </button>
  </div>

  <div *ngIf="!isLoggedIn">
    <button class="btn btn-primary" routerLink="/login">Login </button> |
    <button class="btn btn-primary" routerLink="/register">Register </button>
  </div>









  <!--<a routerLink="/login">Login </a>-->
  <!--<a routerLink="/register">Register </a>-->

  <!--<a routerLink="/quizzes">Quizzes </a>-->

  <app-course-grid></app-course-grid>


</div>
