
<div class="container-fluid">
  <h1>Sections for course: {{courseId}}</h1>



  <div *ngIf="isAdmin">

  <input [(ngModel)]="sectionName"
         placeholder="Section Name"
         class="form-control">
  <input [(ngModel)]="seats"
         placeholder="Seats available"
         class="form-control">
  <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
    Add Section
  </button>
  </div>


  <div *ngIf="isAdmin">
    <br/>
    <button class="btn btn-primary" routerLink="/profile">Profile Page</button>
    &nbsp;
    <button class="btn btn-primary" routerLink="/home"> Home </button>
    <br/>
  </div>

  <div *ngIf="!isAdmin">
    <br/>
    <button class="btn btn-primary" routerLink="/profile">Profile Page</button>
    &nbsp;
    <button class="btn btn-primary" routerLink="/home"> Home </button>
    <br/>
  </div>

  <br/>

  <div class="row">
    <div *ngFor="let section of sections" class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Section Name: {{section.name}}</h5>
          <h5 class="card-title">Section Seats Left {{section.seats}}</h5>
          <h5 class = "card-title"> Section Id {{section._id}}</h5>
          <p class="card-text">Section Data</p>


          <div *ngIf="isAdmin">
            <a routerLink="/enrollment/{{section._id}}" class="btn btn-primary float-right">
              Enrollments
            </a>
          </div>

          <div *ngIf="!(isAdmin) && !(section.students.indexOf(userId)!== -1) && !(section.seats == 0)">
            <button (click)="enroll(section)"
                    class="float-right btn btn-primary">Enroll</button>
          </div>

          <div *ngIf="isAdmin">
            <a routerLink="/update/{{courseId}}/{{section._id}}" class="btn btn-warning float-right">
              Update
            </a>
          </div>

          <div *ngIf="isAdmin">
            <button (click)="deleteSection(section._id)"
                    class = "btn btn-danger float-right">
              Delete
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>


<!--
    <div *ngFor="let section of sections" class="col-sm-4">
      <p>Section Name: {{section.name}} </p>
      <p>Section Seats Left {{section.seats}}</p>
      <button (click)="enroll(section)"
              class="float-right btn btn-primary">Enroll</button>
    </div>-->

</div>
