<div class="container-fluid">
  <h1>Profile</h1>



  <input [(ngModel)]="userNew.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="userNew.password"
         placeholder="password"
         type="password"
         class="form-control"/>
  <input [(ngModel)]="userNew.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="userNew.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="userNew.email"
         placeholder="email"
         class="form-control"/>
  <button (click)="update(userNew)"
          class="btn btn-primary btn-block">
    Update
  </button>


  <h2>Sections ({{sections.length}})</h2>


  <div *ngIf="!isAdmin">
  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
     <p> Section Name: {{enrollment.name}}
       <br/>
     Section Seats Left: {{enrollment.seats}}
     <br/>
       <button (click)="unenrollUser(enrollment,userNew)" class = "float-right btn btn-danger">Unenroll</button>
     <!--Course Id: {{course._id}}</p>-->
    </li>
  </ul>
  </div>

  <div *ngIf="!isAdmin" id="homeLink1">
    <br/>
  <button class="btn btn-primary" routerLink="/home"> Home - CourseView </button>
    <button class = "btn btn-danger float-right"(click)="logout()">Logout </button>

  </div>


  <div *ngIf="isAdmin" id="homeLink2">
    <br/>
    <button class="btn btn-primary" routerLink="/home"> Admin Page </button>
    <button class = "btn btn-danger float-right"(click)="logout()">Logout </button>

  </div>





</div>
